
body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.cart {
  flex: 1;
  padding-left: 20px;
  border-left: 2px solid #ccc;
}
.book {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  min-width: 230px;
}
button {
  margin-top: 10px;
  cursor: pointer;
}
